* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: url(https://image.tmdb.org/t/p/original/347LgrLg6tRS15ok71S7An53jHL.jpg) no-repeat fixed;
}
header {
    background-color: #343a40;
    color: aliceblue;
}
footer {
    background-color: #343a40;
    color: aliceblue;
    height: 50px;
}
.style {
    background-color: #343a40;
    color: aliceblue;
    padding: 1em;
    overflow: hidden;
    width:60%;
}
.pic {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    float:left;
    padding:7px 0 0 10px;
}
h1 {
    font-size: 20px;
}
.small{
    width:100px;
    height:100px;
}
.texts {
    text-align: center;
    text-shadow: 1px 1px 10px #000;
    font-weight: 300;
}
.textw {
    color:azure;
    text-shadow: 1px 1px 10px #000;
    font-weight: 300;
}
.gallary {
    text-align: center;
}
.content {
    background-color: rgb(0, 0, 5, 0.5);
}
@media (min-width: 992px) {
    .content {
        font-size: 20px
    }

    .menu li {
        display: inline;
        font-size: 18px;
    }

    .name {
        font-size: 25px;
    }
}